@page { margin: 0;  border: none; }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
  max-height: 100%;
}

/** Paper sizes **/
#layout-area.A3               .sheet { width: 297mm; height: 419mm }
#layout-area.A3.landscape     .sheet { width: 420mm; height: 297mm }
#layout-area.A4               .sheet { width: 209mm; height: 297mm }
#layout-area.A4.landscape     .sheet { width: 297mm; height: 209mm }
body.A3               .sheet { width: 297mm; height: 419mm }
body.A3.landscape     .sheet { width: 420mm; height: 297mm }
body.A4               .sheet { width: 209mm; height: 297mm }
body.A4.landscape     .sheet { width: 297mm; height: 209mm }
body.A5               .sheet { width: 148mm; height: 209mm }
body.A5.landscape     .sheet { width: 209mm; height: 147mm }
body.letter           .sheet { width: 216mm; height: 279mm }
body.letter.landscape .sheet { width: 280mm; height: 215mm }
body.legal            .sheet { width: 216mm; height: 356mm }
body.legal.landscape  .sheet { width: 357mm; height: 215mm }

/** Padding area **/
.sheet.padding-5mm { padding: 5mm }
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  .remove {
    display: none !important;
  }
  #layout-area {width: 100%; margin: 0; border: 0; border-collapse: collapse; zoom: 100%; }
  #layout-area                  .sheet {margin:0mm !important; border: 0; border-collapse: collapse; overflow: hidden;}
  #layout-area .editable.img-container, #layout-area .editable:not(.img-container), #layout-area .editable:not(.img-container) input, #layout-area .editable:not(.img-container) textarea {background: #fff !important;}
  #layout-area.A3               .sheet { width: 297mm !important; height: 419mm !important; min-height: 100% !important; max-height: 100% !important; }
  #layout-area.A3.landscape     .sheet { width: 420mm !important; height: 297mm !important; min-height: 100% !important; max-height: 100% !important; }
  #layout-area.A4               .sheet { width: 210mm !important; height: 297mm !important; min-height: 100% !important; max-height: 100% !important; }
  #layout-area.A4.landscape     .sheet { width: 297mm !important; height: 209mm !important; min-height: 100% !important; max-height: 100% !important; }
  #layout-area.A3               { width: 297mm; }
  #layout-area.A4.landscape     { width: 420mm; }
  #layout-area.A4               { width: 209mm; }
  #layout-area.A4.landscape     { width: 297mm; }
  body.A3.landscape          { width: 420mm, height: 297mm }
  body.A3                    { width: 297mm; height: 419mm }
  body.A4.landscape          { width: 297mm; height: 210mm }
  body.A4, body.A5.landscape { width: 210mm }
  body.A5                    { width: 148mm }
  body.letter, body.legal    { width: 216mm }
  body.letter.landscape      { width: 280mm }
  body.legal.landscape       { width: 357mm }
  body.A3               .sheet { width: 297mm; height: 419mm }
  body.A3.landscape     .sheet { width: 420mm; height: 297mm }
  body.A4               .sheet { width: 210mm; height: 297mm }
  body.A4.landscape     .sheet { width: 297mm; height: 210mm }
}