.about-us-page {
	@include e('additional-content') {
		@extend %pad;
		margin-bottom: $default_spacing_sm;
		background-color: $grey_light;
		@include e('memberships') {
			margin: $default_spacing_xs 0;
		}
		@include e('membership-col') {
			@include media-breakpoint-up(md) {
				&:last-child {
					.about-us-page__additional-content__membership {
						border-right: none;
					}
				}
			}
		}
		@include e('membership') {
			padding: $default_spacing_xs 0;
			text-transform: uppercase;
			@include media-breakpoint-up(md) {
				border-right: 1px solid $pink;
				padding: $default_spacing_sm;
				height: 100%;
			}
		}
		@include e('membership-icon') {
			max-width: 80%;
			height: auto;
			display: block;
			margin: 0 auto $default_spacing_xs;
		}
	}
}