.newsletters-page {
	@include e('list') {
		@extend %pad;
	}
	@include e('list-item') {
		
	}
	@include e('list-item-img') {
		height: 300px;
		margin-bottom: $default_spacing_xs;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	@include e('list-item-date') {
		a {
			color: $blue;
			@extend %transition;
			&:hover {
				color: $pink;
				text-decoration: none;
			}
		}
	}
}